In [1]:
import pyodbc
import pandas as pd
import requests
from time import sleep
import json

In [7]:
df = pd.read_csv(r'C:\vremek\adatok\telepulesek_lista.csv', delimiter=';')

In [8]:
df

       Telepules
0            Aba
1     Abádszalók
2       Abaliget
3         Abasár
4     Abaújalpár
...          ...
3150     Zsennye
3151       Zsira
3152      Zsombó
3153      Zsujta
3154       Zsurk

[3155 rows x 1 columns]

In [9]:
telepules_json = {}

In [10]:
for i, telep in enumerate(df['Telepules']):
    url = f"https://nominatim.openstreetmap.org/search.php?q={telep}&format=json&polygon_text=1&addressdetails=1"
    response = requests.get(url).json()
    
    telepules_json[df['Telepules'][i]] = response
    sleep(1)

In [11]:
len(telepules_json.keys())

3155

In [12]:
with open(r'C:\vremek\adatok\telepulesek_polygon.json', 'w') as f:
     f.write(json.dumps(telepules_json))